<DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<title>some websites</title>
		<head>
		<body>
			<h1>we'll be ryt back</h>
			<p>
			the site is currently being updated
			</p>
		</body>
	</html>